[project]
name = "{{ package_name }}"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = []

[project.scripts]
hello = "{{ package_name }}:hello"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "pytest>=9.0.2",
    "ruff>=0.15.4",
    "ty>=0.0.19",
]
